.avatarContainer {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.avatarContainer img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.avatarContainer div {
    color: white;
    height: inherit;
    text-align: center;
    padding-top: 17px;
    font-weight: 600;
}